$kaguya: 'kaguya';
$b-pink: #F25D8E;
$b-blue: #00A1D6;
$kakuya: #E593C3;
$dark: #333333;
$white: #FFFFFF;
$gray: #DADADA;
$h: 36px;
$w: 120px;
$input-w: 560px;
$btn-color: #5BC0DE;
$btn-border-color: #46B8DA;
$btn-hover-color: #31B0D5;
$btn-hover-border-color: #269ABC;
$btn-active-color: #269ABC;
$btn-active-border-color: #1B6D85;
$green: #68c867;
$mokou-red: #890900;
$kaguya-pink: #d6728f;
$list-hover: $dark;
$list-hover-font: $white;
$hover: $b-pink;
$hover-font: $white;
@mixin setShadow {
    box-shadow: 8px 8px 8px #333;
}